@{
    Layout = "~/_LayoutPrincipal.cshtml";
}
<script src="../Assets/js/painel-principal.js"></script>
<div class="col-md-12" id="principal">
    <div class="row"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Iniciar</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div id="compra" class="col-md-3 col-sm-6 panel-hover">
                            <div class="panel no-bd bd-3 panel-stat">
                                <div class="panel-body bg-blue p-15">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-xs-offset-4 col-xs-4 text-center">
                                            <i class="glyph-icon flaticon-shopping100 icone-painel-dashboard"></i>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <h4 class="m-0 text-center">Cadastrar</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="pedido" class="col-md-3 col-sm-6 panel-hover">
                            <div class="panel no-bd bd-3 panel-stat">
                                <div class="panel-body bg-blue p-15">
                                    <div class="row m-b-6">
                                        <div class="col-md-offset-3 col-xs-offset-4 col-xs-4 text-center">
                                            <i class="glyph-icon flaticon-shopping102 icone-painel-dashboard"></i>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <h4 class="m-0 text-center" id="total-negocios-ganhos">Pedidos</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="grupofiliais" class="col-md-3 col-sm-6 panel-hover">
                            <div class="panel no-bd bd-3 panel-stat">
                                <div class="panel-body bg-blue p-15">
                                    <div class="row m-b-6">
                                        <div class="col-md-offset-3 col-xs-offset-4 col-xs-4 text-center">
                                            <i class="glyph-icon flaticon-users6 icone-painel-dashboard"></i>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <h4 class="m-0 text-center" id="total-negocios-ganhos">Grupo/Filiais</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="movimentacaoproduto" class="col-md-3 col-sm-6 panel-hover">
                            <div class="panel no-bd bd-3 panel-stat">
                                <div class="panel-body bg-blue p-15">
                                    <div class="row m-b-6">
                                        <div class="col-md-offset-2 col-xs-offset-3 col-xs-4 text-center">
                                            <i class="glyph-icon flaticon-educational21 icone-painel-dashboard"></i>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <h4 class="m-0 text-center" id="total-negocios-ganhos">Movimentação Produto</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="produto" class="col-md-3 col-sm-6 panel-hover">
                            <div class="panel no-bd bd-3 panel-stat">
                                <div class="panel-body bg-blue p-15">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-xs-offset-4 col-xs-4 text-center">
                                            <i class="glyph-icon flaticon-shopping27 icone-painel-dashboard"></i>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <h4 class="m-0 text-center">Produto</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="grupoempresa" class="col-md-3 col-sm-6 panel-hover">
                            <div class="panel no-bd bd-3 panel-stat">
                                <div class="panel-body bg-blue p-15">
                                    <div class="row">
                                        <div class="col-md-offset-4 col-xs-offset-4 col-xs-4 text-center">
                                            <i class="glyph-icon flaticon-people3 icone-painel-dashboard"></i>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <h4 class="m-0 text-center">Grupo Empresas</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div id="atributos" class="col-md-3 col-sm-6 panel-hover">
                            <div class="panel no-bd bd-3 panel-stat">
                                <div class="panel-body bg-blue p-15">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-xs-offset-4 col-xs-4 text-center">
                                            <i class="glyph-icon flaticon-three91 icone-painel-dashboard"></i>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <h4 class="m-0 text-center">Atributos</h4>
                                        </div>
                                    </div>
                                </div> 
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="bg_load"></div>
    <div class="wrapper">
        <div class="inner">
            <span class="wait">
                <span>A</span>
                <span>g</span>
                <span>u</span>
                <span>a</span>
                <span>r</span>
                <span>d</span>
                <span>e</span>
            </span>
            <span class="resized ocultarElemento">
                <span>A</span>
                <span>j</span>
                <span>u</span>
                <span>s</span>
                <span>t</span>
                <span>a</span>
                <span>n</span>
                <span>d</span>
                <span>o</span>
            </span>
        </div>
    </div>

</div>


