@{
    Layout = "~/_LayoutPrincipal.cshtml";
}
@*<link href="../Assets/js/plugins/bootstrap-switch/bootstrap-switch.css" rel="stylesheet" />*@
<link href="../Assets/js/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="../Assets/js/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="../Assets/js/table_dynamic.js"></script>

@*<script src="../Assets/js/plugins/bootstrap-switch/bootstrap-switch.js"></script>*@
<script src="../Assets/js/customUsuarioManager.js"></script>

<div class="col-md-12" id="principal">
    <div class="row">
        <div class="col-md-12">
            <div class="events-filter">
                <div class="col-md-1">
                    <a id="btnAddUsuario" href="#" class="btn btn-primary" data-toggle="tooltip" title="Adicionar Novo Usuário" onclick="abrirModalNovoUsuario();"><i class="fa fa-user-plus" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-1">
                    <a id="btnAddPerfil" href="#" class="btn btn-primary" data-toggle="tooltip" title="Adicionar Novo Perfil" onclick="abrirModalPerfil();"><i class="fa fa-unlock" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-1">
                    <a id="btnGerenciarPerfil" href="#" class="btn btn-primary" data-toggle="tooltip" title="Gerenciar Perfil Existente" onclick="abrirModalPerfilManager();"><i class="fa fa-users" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-3">
                    <input type="text" id="fTxtBusca" placeholder="Busque aqui..." class="form-control" />
                </div>
                <div class="col-md-3 divSelectPicker ocultarElemento">
                    <select name="ucComboAtivos" id="ucComboAtivos" class="selectpicker" data-width="100%" multiple title="Filtrar por ativo/inativo...">
                        <option value="0">Ativo</option>
                        <option value="1">Inativo</option>
                    </select>
                </div>
                <div class="col-md-3 divSelectPicker ocultarElemento">
                    <select name="ucComboAdmins" id="ucComboAdmins" class="selectpicker" data-width="100%" multiple title="Filtrar por tipo de usuário..."></select>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12" style="padding: 0px;">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive filter-right">
                        <table id="tabelaUsuarios" cellpadding="0" cellspacing="0" style=" width:100%;" class="table-tools cell-border hover table cell nowrap stripe compact pretty">
                            <thead>
                                <tr>
                                    <th id="coluna_id" style="border:1px solid black;border-bottom:2px solid black">ID</th>
                                    <th id="coluna_nome" style="border:1px solid black;border-bottom:2px solid black">Nome</th>
                                    <th id="coluna_email" style="border:1px solid black;border-bottom:2px solid black">E-mail</th>
                                    <th id="coluna_ativo" style="border:1px solid black;border-bottom:2px solid black">Ativo</th>
                                    <th id="coluna_administrador" style="border:1px solid black;border-bottom:2px solid black">Perfil</th>
                                    <th id="coluna_gerenciarUsuario" style="border:1px solid black;border-bottom:2px solid black">Editar</th>
                                </tr>
                            </thead>
                            <tbody id="usuarioTabela"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="novoUsuario" style="display:none;" class="btn btn-effect btn-dark" data-toggle="modal" data-target="#modalCadastroUsuario">Tem Certeza?</div>
    <div id="novoPerfil" style="display:none;" class="btn btn-effect btn-dark" data-toggle="modal" data-target="#modalCadastroPerfil">Tem Certeza?</div>
    <div id="managerPerfil" style="display:none;" class="btn btn-effect btn-dark" data-toggle="modal" data-target="#modalGerenciamentoPerfil">Tem Certeza?</div>
    <div class="modal fade" id="modalCadastroUsuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header alert-info">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="novoUsuarioTitulo"><i class="fa fa-user"></i>&nbsp;Novo <strong>Usuário</strong></h4>
                </div>
                <div class="modal-body" style="padding-top:8px; padding-bottom:0px;">
                    <form id="form1" role="form" data-parsley-validate class="icon-validation">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="lblPerfil" class="form-label">Perfil</label>
                                    <div class="controls">
                                        <select name="cbPerfilUsuario" id="cbPerfilUsuario" class="selectpicker show-tick" data-width="100%" title="Selecione um perfil..."></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="lblUserName" class="form-label">Usuário de Login</label>
                                    <div class="controls">
                                        <input type="text" ID="txtUserName" MaxLength="200" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="lblNome" class="form-label">Nome</label>
                                    <div class="controls">
                                        <input type="text" ID="txtNome" MaxLength="200" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="lblSobrenome" class="form-label">Sobrenome</label>
                                    <div class="controls">
                                        <input type="text" ID="txtSobrenome" MaxLength="50" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">E-mail</label>
                                    <div class="controls">
                                        <input type="text" ID="txtEmail" MaxLength="50" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label id="lblPerfil" class="form-label">Usuário Nextt</label>
                                    <div class="controls">
                                        <select name="cb" id="cbUsuarioNextt" class="selectpicker" data-width="100%" title="Selecione um Usuário..."></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" ID="btnSalvarUsuario" class="btn btn-success" Text="Salvar" onclick="cadastrarNovo()"><i class="fa fa-check"></i> Cadastrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalCadastroPerfil" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header alert-info">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="cadastroPerfilTitulo"><i class="fa fa-unlock-alt"></i>&nbsp;Novo <strong>Perfil</strong></h4>
                </div>
                <div class="modal-body" style="padding-top:8px; padding-bottom:0px;">
                    <form id="form2" role="form" data-parsley-validate class="icon-validation">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="lblNomePerfil" class="form-label">Descrição do Perfil</label>
                                    <div class="controls">
                                        <input type="text" ID="txtNomePerfil" MaxLength="200" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="lblPermissaoConceder" class="form-label">Permitir Acesso a:</label><span id="spmConceder" style="display:none" class="tips"> Não é possível conceder permissões</span>
                                    <div class="controls">
                                        <select name="cbPermissaoConceder" id="cbPermissaoConceder" class="selectpicker" data-live-search="true" data-actions-box="true"
                                                data-count-selected-text="Selecionado {0} de {1} opções" data-size="auto" data-select-all-text="Marcar Todas"
                                                data-deselect-all-text="Desmarcar Todas"
                                                data-width="100%" multiple data-selected-text-format="count > 3" title="Selecione uma função..."></select>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </form>
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" ID="btnSalvarPerfil" class="btn btn-success" Text="Salvar" onclick="cadastrarNovoPerfil()"><i class="fa fa-check" aria-hidden="true"></i> Cadastrar</button>
                    <button id="btnCancelarPerfil" type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i> Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalGerenciamentoPerfil" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header alert-info">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="gerenciadorPerfilTitulo"><i class="fa fa-user-md"></i>&nbsp;Atualizar <strong>Perfil</strong></h4>
                </div>
                <div class="modal-body" style="padding-top:8px; padding-bottom:0px;">
                    <form id="form3" role="form" data-parsley-validate class="icon-validation">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label id="lblPerfilAtualizar" class="form-label">Perfil</label>
                                    <div class="controls">
                                        <select name="cbPerfilAtualizar" id="cbPerfilAtualizar" class="selectpicker show-tick" data-width="100%" title="Selecione um perfil..."></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label id="lblNomePerfilAtualizar" class="form-label">Descrição do Perfil</label>
                                    <div class="controls">
                                        <input type="text" id="txtNomePerfilAtualizar" disabled maxlength="200" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label id="lblPermissaoAtualizar" class="form-label">Permitir Acesso a:</label><span id="spmConceder" style="display:none" class="tips"> Não é possível conceder permissões</span>
                                    <div class="controls">
                                        <select name="cbPermissaoAtualizar" id="cbPermissaoAtualizar" class="selectpicker show-tick" data-live-search="true" data-actions-box="true"
                                                data-count-selected-text="Selecionado {0} de {1} opções" data-size="auto" data-select-all-text="Marcar Todas"
                                                data-deselect-all-text="Desmarcar Todas"
                                                data-width="100%" multiple data-selected-text-format="count > 3" title="Selecione uma função..."></select>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </form>
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" Text="Salvar" onclick="atualizarPerfilEditado()"><i class="fa fa-check" aria-hidden="true"></i> Atualizar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i> Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg_load"></div>
<div class="wrapper">
    <div class="inner">
        <span>
            <span>A</span>
            <span>g</span>
            <span>u</span>
            <span>a</span>
            <span>r</span>
            <span>d</span>
            <span>e</span>
        </span>
    </div>
</div>