@{
    Layout = "~/_LayoutPrincipal.cshtml";
}
@*<link href="../Assets/js/plugins/bootstrap-switch/bootstrap-switch.css" rel="stylesheet" />*@
<link href="../Assets/js/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="../Assets/js/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="../Assets/js/table_dynamic.js"></script>

@*<script src="../Assets/js/plugins/bootstrap-switch/bootstrap-switch.js"></script>*@
<script src="../Assets/js/customUsuarioManager.js"></script>

<div class="col-md-12" id="principal">
    <div class="row">
        <div class="col-md-12">
            <div class="events-filter">
                <div class="col-md-1">
                    <a id="btnAddUsuario" href="#" class="btn btn-primary" data-toggle="tooltip" title="Adicionar Novo Usuário" onclick="abrirModalNovoUsuario();"><i class="fa fa-user-plus" aria-hidden="true"></i></a>
                </div>
                @*<div class="col-md-1">
            <a id="btnAddPerfil" href="#" class="btn btn-primary-3d btn3d" data-toggle="tooltip" title="Adicionar Novo Perfil" onclick="abrirModalPerfil();" style="margin-top:0px;padding-bottom:1px"><i class="fa fa-unlock-alt" aria-hidden="true"></i></a>
        </div>*@
                <div class="col-md-3">
                    <input type="text" id="fTxtBusca" placeholder="Busque aqui..." class="form-control" />
                </div>
                <div class="col-md-3 divSelectPicker ocultarElemento">
                    <select name="ucComboAtivos" id="ucComboAtivos" class="selectpicker" data-width="100%" multiple title="Filtrar por ativo/inativo...">
                        <option value="0">Ativo</option>
                        <option value="1">Inativo</option>
                    </select>
                </div>
                <div class="col-md-3 divSelectPicker ocultarElemento">
                    <select name="ucComboAdmins" id="ucComboAdmins" class="selectpicker" data-width="100%" multiple title="Filtrar por tipo de usuário..."></select>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12" style="padding: 0px;">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive filter-right">
                        <table id="tabelaUsuarios" cellpadding="0" cellspacing="0" style=" width:100%;" class="table-tools cell-border hover table cell nowrap stripe compact pretty">
                            <thead>
                                <tr>
                                    <th id="coluna_id" style="border:1px solid black;border-bottom:2px solid black">ID</th>
                                    <th id="coluna_nome" style="border:1px solid black;border-bottom:2px solid black">Nome</th>
                                    <th id="coluna_email" style="border:1px solid black;border-bottom:2px solid black">E-mail</th>
                                    <th id="coluna_ativo" style="border:1px solid black;border-bottom:2px solid black">Ativo</th>
                                    <th id="coluna_administrador" style="border:1px solid black;border-bottom:2px solid black">Perfil</th>
                                    <th id="coluna_gerenciarUsuario" style="border:1px solid black;border-bottom:2px solid black">Editar</th>
                                </tr>
                            </thead>
                            <tbody id="usuarioTabela"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="novoUsuario" style="display:none;" class="btn btn-effect btn-dark" data-toggle="modal" data-target="#modalCadastroUsuario">Tem Certeza?</div>
    <div id="novoPerfil" style="display:none;" class="btn btn-effect btn-dark" data-toggle="modal" data-target="#modalCadastroPerfil">Tem Certeza?</div>
    <div class="modal fade" id="modalCadastroUsuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header alert-info">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="novoUsuarioTitulo"><i class="fa fa-user"></i>&nbsp;Novo <strong>Usuário</strong></h4>
                </div>
                <div class="modal-body" style="padding-top:8px; padding-bottom:0px;">
                    <form id="form1" role="form" data-parsley-validate class="icon-validation">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="lblPerfil" class="form-label">Perfil</label>
                                    <div class="controls">
                                        <select name="cbPerfil" id="cbPerfil" class="selectpicker" data-width="100%" title="Selecione um perfil..."></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="lblUserName" class="form-label">Usuário de Login</label>
                                    <div class="controls">
                                        <input type="text" ID="txtUserName" MaxLength="200" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="lblNome" class="form-label">Nome</label>
                                    <div class="controls">
                                        <input type="text" ID="txtNome" MaxLength="200" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="lblSobrenome" class="form-label">Sobrenome</label>
                                    <div class="controls">
                                        <input type="text" ID="txtSobrenome" MaxLength="50" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">E-mail</label>
                                    <div class="controls">
                                        <input type="text" ID="txtEmail" MaxLength="50" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 ocultarElemento">
                                <div class="form-group">
                                    <label id="lblCelular" class="form-label">Celular</label>
                                    <div class="controls">
                                        <input type="text" ID="txtCelular" MaxLength="15" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" ID="btnSalvarUsuario" class="btn btn-success" Text="Salvar" onclick="cadastrarNovo()"><i class="fa fa-check"></i> Cadastrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalCadastroPerfil" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header alert-info">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="cadastroPerfilTitulo"><i class="fa fa-unlock-alt"></i>&nbsp;Novo <strong>Perfil</strong></h4>
                </div>
                <div class="modal-body" style="padding-top:8px; padding-bottom:0px;">
                    <form id="form2" role="form" data-parsley-validate class="icon-validation">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="lblNomePerfil" class="form-label">Descrição do Perfil</label>
                                    <div class="controls">
                                        <input type="text" ID="txtNomePerfil" MaxLength="200" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="lblClonePerfil" class="form-label">Clonar</label><span id="spanCriacaoPerfilClone" class="tips"> (Opcional) Copia as permissões do perfil selecionado</span>
                                    <div class="controls">
                                        <select name="cbPerfilNovo" id="cbPerfilNovo" class="selectpicker show-tick" data-width="100%">
                                            <option title="Selecione um perfil...">Nenhum</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="lblPermissaoConceder" class="form-label">Permitir Acesso a:</label><span id="spmConceder" style="display:none" class="tips"> Não é possível conceder permissões</span>
                                    <div class="controls">
                                        <select name="cbPermissaoConceder" id="cbPermissaoConceder" class="selectpicker" data-live-search="true" data-count-selected-text="Selecionado {0} de {1} opções" data-size="auto" data-width="100%" multiple data-selected-text-format="count > 3" title="Selecione uma função...">
                                            <optgroup label="Opções Gerais">
                                                <option value="Gerenciar Usuários">Gerenciar Usuários</option>
                                            </optgroup>
                                            <optgroup label="Opções de Relatório">
                                                <option value="Alterar Ano de Filtro">Alterar Ano de Filtro</option>
                                                <option value="Salvar Relatórios">Salvar Relatórios</option>
                                                <option value="Editar Relatórios">Editar Relatórios</option>
                                                <option value="Exportar Relatórios">Exportar Relatórios para Excel</option>
                                                <option value="Visualizar Relatórios de Produtos">Visualizar Relatórios de Produtos</option>
                                                <option value="Visualizar Relatórios de Vendas Compartilhada">Visualizar Relatórios de Vendas Compartilhada</option>
                                            </optgroup>
                                            <optgroup label="Gerenciamento de Usuário">
                                                <option value="Bloquear/Desbloquear Usuário">Bloquear/Desbloquear Usuário</option>
                                                <option value="Cadastrar Usuário">Cadastrar Usuário</option>
                                                <option value="Editar Usuário">Editar Usuário</option>
                                                <option value="Cadastrar Perfil">Cadastrar Perfil</option>
                                                <option value="Editar Dados Basicos">Editar Dados Basicos</option>
                                                <option value="Adicionar Perfil ao Usuário">Adicionar Perfil ao Usuário</option>
                                                <option value="Conceder Permissão Especial">Conceder Permissão Especial</option>
                                                <option value="Negar Permissão Especial">Negar Permissão Especial</option>
                                                <option value="Redefinir Senha">Redefinir Senha</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="lblPermissaoNegar" class="form-label">Negar Acesso a:</label>
                                    <div class="controls">
                                        <select name="cbPermissaoNegar" id="cbPermissaoNegar" class="selectpicker" data-live-search="true" data-count-selected-text="Selecionado {0} de {1} opções" data-width="100%" multiple data-selected-text-format="count > 3" title="Selecione uma função...">
                                            <optgroup label="Opções Gerais">
                                                <option value="Gerenciar Usuários">Gerenciar Usuários</option>
                                            </optgroup>
                                            <optgroup label="Opções de Relatório">
                                                <option value="Alterar Ano de Filtro">Alterar Ano de Filtro</option>
                                                <option value="Salvar Relatórios">Salvar Relatórios</option>
                                                <option value="Editar Relatórios">Editar Relatórios</option>
                                                <option value="Exportar Relatórios">Exportar Relatórios para Excel</option>
                                                <option value="Visualizar Relatórios de Produtos">Visualizar Relatórios de Produtos</option>
                                                <option value="Visualizar Relatórios de Vendas Compartilhada">Visualizar Relatórios de Vendas Compartilhada</option>
                                            </optgroup>
                                            <optgroup label="Gerenciamento de Usuário">
                                                <option value="Bloquear/Desbloquear Usuário">Bloquear/Desbloquear Usuário</option>
                                                <option value="Cadastrar Usuário">Cadastrar Usuário</option>
                                                <option value="Editar Usuário">Editar Usuário</option>
                                                <option value="Cadastrar Perfil">Cadastrar Perfil</option>
                                                <option value="Editar Dados Basicos">Editar Dados Basicos</option>
                                                <option value="Adicionar Perfil ao Usuário">Adicionar Perfil ao Usuário</option>
                                                <option value="Conceder Permissão Especial">Conceder Permissão Especial</option>
                                                <option value="Negar Permissão Especial">Negar Permissão Especial</option>
                                                <option value="Redefinir Senha">Redefinir Senha</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" ID="btnSalvarPerfil" class="btn btn-success" Text="Salvar" onclick="cadastrarNovoPerfil()"><i class="fa fa-check" aria-hidden="true"></i> Cadastrar</button>
                    <button id="btnCancelarPerfil" type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i> Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg_load"></div>
<div class="wrapper">
    <div class="inner">
        <span>
            <span>A</span>
            <span>g</span>
            <span>u</span>
            <span>a</span>
            <span>r</span>
            <span>d</span>
            <span>e</span>
        </span>
    </div>
</div>