@{
    Layout = "~/_LayoutPrincipal.cshtml";
}
<script src="../Assets/js/plugins/moment.min.js"></script>
<script src="../Assets/js/calculosRelatorio.js"></script>
<script src="../Assets/js/distribuicao.js"></script>
<div class="col-md-12 col-sm-12 col-xs-12" id="principal">

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center">
            <div id="alertProdDist" class="alertCustomizado alert-danger" style="display:none"></div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-12">
            <div class="form-group">
                <h5 class="form-label">Grupo de Filiais:</h5>
                <div class="controls ocultarElemento">
                    <select name="cbGrupoFilial" id="cbGrupoFilial" data-container="body" data-actions-box="true" class="selectpicker show-tick form-control" data-live-search="true"
                            data-select-all-text="Marcar Todas" data-deselect-all-text="Desmarcar Todas" data-count-selected-text="Selecionado {0} de {1} opções"
                            data-width="100%" multiple data-select-header="true" data-size="auto" data-selected-text-format="count > 2" title="Selecione..."></select>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-12">
            <div class="form-group">
                <h5 class="form-label">Fornecedores:</h5>
                <div class="controls ocultarElemento">
                    <select id="drpCNPJ" class="selectpicker show-tick form-control" data-show-subtext="true" data-actions-box="true" multiple data-live-search="true"
                            data-select-all-text="Marcar Todos" data-deselect-all-text="Desmarcar Todos" data-count-selected-text="Selecionado {0} de {1} CNPJ's'" title="0 selecionados..."
                            data-width="100%" data-select-header="true" data-size="7" data-selected-text-format="count > 2"></select>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-12">
            <div class="form-group">
                <h5 class="form-label">Marcas:</h5>
                <div class="controls ocultarElemento">
                    <select id="drpMarc" class="selectpicker show-tick form-control" data-actions-box="true" multiple data-live-search="true"
                            data-select-all-text="Marcar Todos" data-container="body" data-deselect-all-text="Desmarcar Todos" data-count-selected-text="Selecionado {0} de {1}" title="0 selecionados..."
                            data-width="100%" data-size="7" data-selected-text-format="count > 2"></select>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-12">
            <div class="form-group">
                <h5 class="form-label">Segmentos:</h5>
                <div class="controls ocultarElemento">
                    <select id="drpSeg" class="selectpicker show-tick form-control" data-actions-box="true" data-show-subtext="true" multiple data-live-search="true"
                            data-count-selected-text="Selecionado {0} de {1}" title="0 selecionados..." data-select-all-text="Marcar Todos" data-deselect-all-text="Desmarcar Todos"
                            data-width="100%" data-select-header="true" data-size="7" data-selected-text-format="count > 2"></select>
                </div>
            </div>
        </div>

        <div id="divSec" class="col-md-2 col-sm-4 col-xs-12 ocultarElemento">
            <div class="form-group">
                <h5 class="form-label">Seções:</h5>
                <div class="controls">
                    <select id="drpSec" class="selectpicker show-tick form-control" data-show-subtext="true" data-actions-box="true" multiple data-live-search="true"
                            data-select-all-text="Marcar Todas" data-container="body" data-deselect-all-text="Desmarcar Todas" data-count-selected-text="Selecionado {0} de {1}" title="0 selecionados..."
                            data-width="100%" data-select-header="true" data-size="7" data-selected-text-format="count > 2"></select>
                </div>
            </div>
        </div>
        <div id="divEsp" class="col-md-2 col-sm-4 col-xs-12 ocultarElemento">
            <div class="form-group">
                <h5 class="form-label">Espécies:</h5>
                <div class="controls">
                    <select id="drpEsp" class="selectpicker show-tick form-control" data-show-subtext="true" data-actions-box="true" multiple data-live-search="true"
                            data-select-all-text="Marcar" data-deselect-all-text="Desmarcar" data-count-selected-text="Selecionado {0} de {1}" title="0 selecionados..."
                            data-width="100%" data-select-header="true" data-size="5" data-selected-text-format="count > 2"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group"> 
                <h5 class="form-label">Pesquise por Cod. Produto, Cod. Pedido ou Descrição:</h5>
                <div class="controls">
                    <input type="text" id="txtFiltroProdutoCompra" maxlength="50" placeholder="Digite aqui..." class="form-control" />
                </div>
            </div>

        </div>
        <div class="col-md-2 col-sm-4 col-xs-12">
            <div class="form-group">
                <h5 class="form-label">Pesquisar Produto:</h5>
                <div class="controls">
                    <button id="btnBuscarProduto" class="btn btn-primary " style="vertical-align:top !important" onclick="buscarProdutosDistribuicao()">
                        <i class="fa fa-search" aria-hidden="true"> Pesquisar</i>
                    </button>
                    <a href="javascript:limparCampos();" data-toggle="tooltip" style="vertical-align:top !important" title="Limpar Filtros" class="btn text-center clear-filter">
                        @*<i class="fa fa-filter fa-2x" aria-hidden="true"></i>*@
                        <span class="fa fa-filter-remove fa-2x"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Escolha o Produto para Acessar a Distribuição</h3>
                </div>
                <div id="" class="panel-body">
                    <div class="pagination-holder clearfix pull-right"></div>
                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                        <table id="tabelaProdutos" cellpadding="0" cellspacing="0" style="width:100%;" class="table-tools cell-border hover table cell nowrap stripe compact pretty">
                            <thead>
                                <tr>
                                    <th style="border:1px solid black;border-bottom:2px solid black">ID Produto</th>
                                    <th style="border:1px solid black;border-bottom:2px solid black">Código</th>
                                    <th style="border:1px solid black;border-bottom:2px solid black">Descrição</th>
                                    <th style="border:1px solid black;border-bottom:2px solid black">Marca</th>
                                    <th style="border:1px solid black;border-bottom:2px solid black">Referência</th>
                                    <th style="border:1px solid black;border-bottom:2px solid black">Estoque</th>
                                    <th style="border:1px solid black;border-bottom:2px solid black">Ult. Entrega</th>
                                    <th style="border:1px solid black;border-bottom:2px solid black">Dt. Cadastro</th>
                                    <th style="border:1px solid black;border-bottom:2px solid black"></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg_load"></div>
    <div class="wrapper">
        <div class="inner">
            <span class="wait">
                <span>A</span>
                <span>g</span>
                <span>u</span>
                <span>a</span>
                <span>r</span>
                <span>d</span>
                <span>e</span>
            </span>
            <span class="resized ocultarElemento">
                <span>A</span>
                <span>j</span>
                <span>u</span>
                <span>s</span>
                <span>t</span>
                <span>a</span>
                <span>n</span>
                <span>d</span>
                <span>o</span>
            </span>
        </div>
    </div>

</div>



