@{
    Layout = "~/_LayoutPrincipal.cshtml";
}
<script src="../Assets/js/grupo-filiais.js"></script>
<script src="../Assets/js/calculosRelatorio.js"></script>
<div class="col-md-12" id="principal">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center">
            <div id="alertCadGrupoFilial" class="alertCustomizado alert-danger" style="display:none"></div>
        </div>
    </div>
    <div class="row">


        <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
            <h4 class="text-center">Grupos Cadastrados</h4>
            <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" style="max-height:80vh;overflow:auto">


                <table id="gruposCadastrados"  cellpadding="0" cellspacing="0" class="table-tools cell-border hover table cell nowrap stripe compact pretty">

                    <thead>
                        <tr>
                            <th></th>
                            <th class="grupoOperacao" style="text-align:center!important"><button type="button" onclick="criaDescGrp()" class="btn btn-success btn-create"><i class="fa fa-plus" aria-hidden="true"></i> Novo Grupo</button></th>
                            <th>Descrição</th>
                            <th>Participação</th>

                            @*<th>Delete</th>*@
                        </tr>
                    </thead>
             
                </table>
        </div>
    </div>
</div>
<div class="bg_load"></div>
<div class="wrapper">
    <div class="inner">
        <span class="wait">
            <span>A</span>
            <span>g</span>
            <span>u</span>
            <span>a</span>
            <span>r</span>
            <span>d</span>
            <span>e</span>
        </span>
        <span class="resized ocultarElemento">
            <span>A</span>
            <span>j</span>
            <span>u</span>
            <span>s</span>
            <span>t</span>
            <span>a</span>
            <span>n</span>
            <span>d</span>
            <span>o</span>
        </span>
    </div>
</div>

</div>



