@{
    Layout = "~/_LayoutPrincipal.cshtml";
}
<link href="../Assets/css/custom-menu-card.css" rel="stylesheet" />
<script src="../Assets/js/grupo-empresa.js"></script>
<script src="../Assets/js/calculosRelatorio.js"></script>

<div class="col-md-12 col-sm-12 col-xs-12" id="principal">
    <div class="row ">

        <div class="row mbr-justify-content-center">
            <div id="0" class="col-lg-3 mbr-col-md-10 painelCard">
                <div class="wrap bg-blue">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fa-user-plus fa fa-inverse"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5"><b>Cadastrar</b></h2>
                        <div class="mbr-fonts-style text1 mbr-text display-6">
                            Adicionar um novo grupo
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="bg_load"></div>
    <div class="wrapper">
        <div class="inner">
            <span class="wait">
                <span>A</span>
                <span>g</span>
                <span>u</span>
                <span>a</span>
                <span>r</span>
                <span>d</span>
                <span>e</span>
            </span>
            <span class="resized ocultarElemento">
                <span>A</span>
                <span>j</span>
                <span>u</span>
                <span>s</span>
                <span>t</span>
                <span>a</span>
                <span>n</span>
                <span>d</span>
                <span>o</span>
            </span>
        </div>
    </div>
    <div class="modal fade" id="modalGrupoEmpresa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header alert-info">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tituloGrupoEmpresa"><i class="fa fa-plus-square"></i>&nbsp;Cadastrar <strong>Grupo de Empresas</strong></h4>
                </div>
                <div class="modal-body" style="padding-top:8px; padding-bottom:0px;">
                    <form role="form" data-parsley-validate class="icon-validation">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">ID</label>
                                    <div class="controls">
                                        <input type="text" id="txtCodGrupo" disabled maxlength="200" value="0" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-md-2">
                                    <div class="form-group">
                                        <label class="form-label">Status</label>
                                        <div class="controls">
                                            <input type="text" id="txtStatusGrupo" disabled maxlength="200" value="0" class="form-control" />
                                        </div>
                                    </div>
                                </div>*@
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Descrição</label><span class="obrigatorio"> *</span>
                                    <div class="controls">
                                        <input type="text" id="txtNomeGrupoEmpresa" maxlength="200" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Marcas Associadas:</label><span class="obrigatorio"> *</span>
                                    <div class="controls">
                                        <select id="drpMarc" class="selectpicker show-tick form-control" data-actions-box="true" multiple data-live-search="true"
                                                data-select-all-text="Marcar Todos" data-container="body" data-deselect-all-text="Desmarcar Todos" data-count-selected-text="Selecionado {0} de {1}" title="0 selecionados..."
                                                data-width="100%" data-size="7" data-selected-text-format="count > 2"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnFinalizarOperacao" class="btn btn-success" Text="Salvar" onclick="validaDadosObrigarioGrpEmp()"><i class="fa fa-check" aria-hidden="true"></i> Atualizar</button>
                    <button type="button" id="btnExlcuirOperacao" class="btn btn-danger ocultarElemento" data-dismiss="modal"><i class="fa fa-trash" aria-hidden="true"></i> Excluir</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i> Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>
